{% extends 'blog/basic.html'%}

{% block title %}
Blog Home - My Awesome Cart
{% endblock title %}

{% block css %}
<style>

</style>
{% endblock css %}

{% block body %}
<body>
{% for info in posts %}


<div class='container mt-3'>
    <div class="row mb-2 my-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h3 class="mb-0">{{ info.title }}</h3>
          <div class="mb-1 text-muted">{{ info.pub_date }}</div>
          <p class="card-text mb-auto">{{ info.chead0 }}</p>
          <a href="/blog/bloginfo/{{ info.info_id }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src='/media/{{ info.thumbnail }}' height='250px' width="200px">
        </div>
      </div>
    </div>
    
  </div>
    <!--
                                          EXERCISE
        {% load static %}
        <a href='{%static "blog/img.jpg" %}'> <img src="{%static 'blog/img.jpg' %}">Click me for img</a>
        
    -->
    {% endfor %}
</div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock js %}
