<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- FontAwesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}{% endblock %}</title>

    {% block css %}

    {% endblock %}
    <style>
        .btn,
        .btn-secondary {
            margin: 5px;
        }

        ::selection {
            background-color: #3399FF;
            color: white;
            /* Text color when selected */
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/shop">
        <i class="fa-solid fa-cart-shopping"></i>
         My Awesome Cart
         </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/shop">
                     <i class="fa-solid fa-house"></i>
                     Home
                      </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/about"><i class="fa-solid fa-address-card"></i> About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/tracker"><i class="fa-solid fa-location-dot"></i> Tracker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog"><i class="fa-solid fa-pen"></i> Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop/contact"><i class="fa-solid fa-phone"></i> Contact Us</a>
                </li>


            </ul>
            <form method="get" action="/shop/search/" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
            </form>

            <button type="button" class="btn btn-secondary" id="popcart" data-container="body" data-toggle="popover"
                data-placement="bottom" data-html="true" data-content="Bottom popover">
                <i class="fa-solid fa-cart-shopping"></i> Cart (<span id="cart">0</span>)
            </button>
        </div>
    </nav>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"
        integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

    {% block body %} {% endblock %}
    <script>
        {% block comment %}
        //
        {% endblock comment %}
    </script>
    {% block js %}

    {% endblock %}

</body>

</html>