{% extends 'shop/basic.html' %}
{% block title %} Checkout - My Awesome Cart {% endblock %}
{% block js %}
<script>
if (localStorage.getItem('cart') == null) {
    var cart = {};
} else {
    cart = JSON.parse(localStorage.getItem('cart'));
}
console.log(cart);
var sum = 0;
if ($.isEmptyObject(cart)) {
    // If object is empty
    mystr = "<h6>Your cart is empty, please add some items before checking out ! </h6>"
    $('#items').append(mystr);
    button = document.getElementById('placeorderButton').setAttribute('class', 'btn btn-primary disabled')
}

for (item in cart) {

    let name = cart[item][1];
    let qty = cart[item][0];
    sum = sum + qty;
    mystr = `        <li class="list-group-item d-flex justify-content-between align-items-center">
                   ${name}
                    <span class="badge badge-primary badge-pill">${qty}</span>
                </li>`
    $('#items').append(mystr);
}
document.getElementById('cart').innerHTML = sum;
</script>
{% endblock js %}
{% block body %}

<div class="container">
  <div class="col my-4">
    <h2 class="text-center">
      Step 1 - My Awesome Cart Express Checkout - Review Your Cart Items
    </h2>

    <h4 class="text-center">Cart Summary</h4>
    <div class="mt-4">
      <ul class="list-group text-center" id="items"></ul>
    </div>
  </div>
  <div class="col my-2">
    <h2 style="text-align: center">
      Step 2 - Enter Your Shipping Details
    </h2>
    <form>

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName4">Name</label>
            <input type="text" class="form-control" id="inputName4" placeholder="Enter your Name Here...">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter your Email Here...">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St.">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address Line 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, Studio, Floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity"
              placeholder="Toronto, Lahore, Tashkent, London, etc....">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <input type="text" class="form-control" id="inputState" placeholder="Punjab, Xiangin, Texas, UP, etc....">
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip Code</label>
            <input type="number" class="form-control" id="inputZip" placeholder="12345">
          </div>
          <div class="form-group">
            <label for="inputPhone">Phone Number</label>
            <input type="tel" class="form-control" id="inputPhone" placeholder="111-222-3333">
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary" id="placeorderButton">Place Order</button>
        </div>
      </form>

    </form>
  </div>
</div>
{% endblock %}
