{% extends 'shop/basic.html' %}
{% block title %} Contact Us - My Awesome Cart{% endblock %}
{% block body %}
{% block js %}

<script>
function thank() {

let name = document.getElementById('name');
let email = document.getElementById('email');
let phone = document.getElementById('phone');
let msg = document.getElementById('desc');

 if (name.value && email.value && phone.value && msg.value )
alert("Thank you for your message! We will be in touch with you soon.")

}


</script>
{% endblock js %}
<div class="container">
  <h3 class="my-3">Contact Us</h3>
  <p>
    <i
      >All Forms marked with '<span style="color: red">*</span>' are
      required.</i
    >
  </p>
  <form action="/shop/contact/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="name">Name <span style="color: red">*</span></label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter Your Name"
        name="name"
        required
      />
    </div>
    <div class="form-group">
      <label for="name">Email <span style="color: red">*</span></label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter Your Email"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="name">Phone Number <span style="color: red">*</span></label>
      <input
        type="tel"
        class="form-control"
        id="phone"
        name="phone"
        placeholder="Enter Your Phone Number"
      />
    </div>
    <div class="form-group">
      <div class="form-group">
        <label id="req" for="desc"
          >Your Message/Query <span style="color: red">*</span></label
        >
        <textarea class="form-control" id="desc" rows="3" name="desc" required></textarea>
      </div>
      <button class="btn btn-primary" id="submit" onclick="thank()"type="submit">Submit</button>

    </div>
  </form>
</div>


{% endblock %}