{% extends 'shop/basic.html' %}
{% block title %} Tracker - My Awesome Cart {% endblock %}

{% block body %}

<div class="container">
  <div class="col my-4">
    <h2 class="text-center">
      Enter your Order ID and Email Address to Track your Order
    </h2>
    <p class="text-center">
      <i>All Forms marked with '<span style="color: red">*</span>' are
        required.</i>
    </p>
    <form action="#" method="post" id="trackerForm">{% csrf_token %}
      <input type="text" style="display: none;" name="phone" id="phone">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="OrderID">Order ID <span style="color: red">*</span></label>
          <input type="text" class="form-control" id="OrderID" placeholder="Enter your Order ID Here..." name="OrderID"
            required>
        </div>
        <div class="form-group col-md-6">
          <label for="email">Email <span style="color: red">*</span></label>
          <input type="email" class="form-control" id="email" placeholder="Enter your Email Here..." name="email"
            required>
        </div>
        <div class="text-center" style="align-items: center;">
          <button type="submit" class="btn btn-primary">Track Order</button>
        </div>
    </form>

  </div>
  <div class="col my-2">
    <h2 class="text-center">
      Your Order Status:
    </h2>
    <div class="my-4">
      <ul class="list-group" id="items">
        <span id="paragraphId" class="text-center"><strong>Enter your Order ID and Email Address to Track your
            Order</strong></span>
      </ul>
  </div>

    <h2 class="text-center" id="orderDetailsTitle">

    </h2>
    <div class="my-4">
      <ul class="list-group" id="citems">

      </ul>
    </div>

  </div>
  </form>

</div>
</div>


{% endblock body%}
{% block js %}
<script>
function addCommas(number) {
  return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
$('#trackerForm').submit(function (event) {
  event.preventDefault();
  $('#citems').empty();
  $('#items').empty();
  var formData = {
    'OrderID': $('input[name=OrderID]').val(),
    'email': $('input[name=email]').val(),
    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
  };
  $.ajax({
      type: 'POST',
      url: '/shop/tracker/',
      data: formData,
      encode: true
    })
    .done(function (data) {
      $('#citems').empty();
      $('#items').empty();
      console.log(data)
      data = JSON.parse(data);
      if (data['status'] == 'success') {
        updates = data['updates'];
        for (i = 0; i < updates.length; i++) {
          let text = updates[i]['text'];
          let time = updates[i]['time'];
          time = time.replace('+00:00', "");
          mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-primary badge-pill">${time}</span>
                </li>`
          $('#items').append(mystr);
        }
        // Fill in the order details
        cart = JSON.parse(data['itemsJson']);
        console.log(cart);
        for (item in cart) {
          let name = cart[item][1];
          let qty = cart[item][0];
          let itemPrice = cart[item][2];
          mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-primary badge-pill">Quantity: ${qty} & Price: ${addCommas(itemPrice)}</span>
                </li>`
          $("#orderDetailsTitle").text("Order Details:");
          $('#citems').append(mystr);
        }
      } else {
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch your order associated with your Order ID and Email. Please check the spelling of the Order ID and Email and try again.</li>`
        $('#items').append(mystr);
        $('#citems').append(mystr);
      }
    });
  event.preventDefault();
});

</script>
{% endblock js %}